@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>System allows:</p>
<ul>
    <li>visitors to review the assortments produced by KPM.</li>
    <li>regisered users to place their orders.</li>
    <li>traders in KPM to manage client orders.</li>
    <li>system admin to manage users</li>
</ul>
