@{
    ViewBag.Title = "Home Page";
}
<p>&nbsp;</p>
<div class="well">
    <h2>KPM - Orders Managment System</h2>
    <p class="lead">To log in with default roles use password: 123 </p>
    <p class="lead">For different roles use : </p>
    <ul>
        <li>Admin: admin@kpm.bg</li>
        <li>Trader: trader@kpm.bg</li>
        <li>Client1: pesho@abv.bg</li>
        <li>Client2: ivan@abv.bg</li>
    </ul>

    <p>
        @if (!User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
        }
        @Html.ActionLink("View products", "ViewProducts", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })

    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Company description</h4>
        <p>
            The Company is established 1902 ....
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Industry standartds</h4>
        <p>
            Other information about similar manifacturing
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>News</h4>
        <p>News and events</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>