@model KPMTestEMS.Models.ClientOptionsViewModel
    @using System.Web.Mvc.Html
    
    @using Microsoft.AspNet.Identity
@{
    var UserId = User.Identity.GetUserId();
    var UserName = User.Identity.GetUserName();
    var FullName = ViewData["FullName"];
    ViewBag.Title = FullName + " profile page";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Create orders, view orders, edit and delete orders, and manage your profile.</h4>
    <hr />

    @Html.Partial("_ProfileDetails", Model.IndexVM)
    @Html.Partial("_CreateOrder", Model.newOrder)
</div>
